## Okex API exploration - Account

In [7]:
from okex import *
import pandas as pd
from datetime import datetime

- API key, secret and passphrase should be modified in the config.py file (in okex module)  
- My trading bot in Okex is currently being used.

### I. Account

#### 1. Class instantiation

Creating an object AccountAPI to access account details

In [8]:
account = AccountAPI(config.API_KEY, config.API_SECRET, config.PASSPHRASE, flag='1')

#### 2. Account balance

https://www.okx.com/docs-v5/en/#rest-api-account-get-balance

In [9]:
def get_balance(account):
    # Request data
    info = account.get_account()
    # Json to DataFrame
    info = info['data'][0]['details']
    df = pd.DataFrame([list(x.values()) for x in info], columns=info[0].keys())
    # Convert date
    df['uTime'] = df['uTime'].astype('int64').map(lambda x: pd.to_datetime(x, unit='ms'))
    df = df[['uTime', 'ccy', 'eq', 'availEq', 'disEq', 'isoEq', 'isoUpl']]
    return df

In [10]:
details = get_balance(account)
display(details)

,uTime,ccy,eq,availEq,disEq,isoEq,isoUpl
0,2022-08-06 09:12:51.160,BTC,3,3,64304.100000000006,0,0
1,2022-08-06 23:02:14.524,ETH,17.242362375666666,17.242362375666666,28186.262199126057,0,0
2,2022-08-06 09:12:51.160,JFI,300,300,0,0,0
3,2022-08-06 09:12:51.160,UNI,1500,1500,9030.824999999999,0,0
4,2022-08-06 09:12:51.209,USDC,9000,9000,9000,0,0
5,2022-08-06 09:12:51.111,PAX,9000,9000,8910,0,0
6,2022-08-06 09:12:51.209,TUSD,9000,9000,8910,0,0
7,2022-08-06 09:12:51.111,USDK,9000,9000,8910,0,0
8,2022-08-06 09:12:51.160,OKB,300,300,4688.820000000001,0,0
9,2022-08-23 16:00:07.979,USDT,4417.71593063637,4146.209430636371,4417.627576317757,251.66000000000025,-11.199999999999763
10,2022-08-06 09:12:51.258,TRX,30000,30000,1683,0,0
11,2022-08-06 09:12:51.209,LTC,30,30,1609.3949999999998,0,0
12,2022-08-23 13:07:40.792,ADA,2999.0725988781337,2999.0725988781337,1240.1315149991028,0,0
13,2022-08-23 15:17:11.928,BCH,0.012337647,0.012337647,1.5506571631950001,0,0

#### 3. Current positions

https://www.okx.com/docs-v5/en/#rest-api-account-get-positions

In [18]:
def get_positions(account):
    pos = account.get_positions()
    df = pd.DataFrame([x.values() for x in pos['data']], columns = pos['data'][0].keys())
    df['uTime'] = df['uTime'].astype('int64').map(lambda x: pd.to_datetime(x, unit='ms'))
    df['cTime'] = df['cTime'].astype('int64').map(lambda x: pd.to_datetime(x, unit='ms'))
    df = df[['instId', 'cTime',  'uTime', 'margin', 'avgPx', 'last', 'liqPx', 'upl', 'uplRatio', 'mgnMode', 'posSide', 'lever', 'tradeId', 'posId']]
    return df

In [19]:
get_positions(account)

,instId,cTime,uTime,margin,avgPx,last,liqPx,upl,uplRatio,mgnMode,posSide,lever,tradeId,posId
0,BCH-USDT-SWAP,2022-08-23 15:32:27.275,2022-08-23 15:38:44.457,262.86,131.43,131.71,148.92972660953328,-3.639999999999873,-0.0138476755687438,isolated,short,7,9848842,482295012798115842

#### 4. Get bills details

https://www.okx.com/docs-v5/en/#rest-api-account-get-bills-details-last-7-days

In [13]:
def sub_type(x):
    myDict = {'1': 'Buy', '2': 'Sell', '3': 'Open long', '4': 'Open short', '5': 'Close long', '6': 'Close short',
             '100': 'Partial liquidation close long', '101': 'Partial liquidation close short', 
             '102': 'Partial liquidation buy', '103': 'Partial liquidation sell', '104':' Liquidation long',
             '105': 'Liquidation short', '106': 'Liquidation buy', '107': 'Liquidation sell', 
             '110': 'Liquidation transfer in','111': 'Liquidation transfer out', '173': 'Funding fee expense', 
             '174': 'Funding fee income'}
    if x in myDict.keys():
        return myDict[x]
    else:
        return x
    
def the_type(x):
    myDict = {'1': 'Transfer', '2': 'Trade', '3': 'Delivery', '4': 'Auto token conversion', '5': 'Liquidation',
              '6': 'Margin transfer', '7': 'Interest deduction', '8': 'Funding fee', '9': 'ADL', '10': 'Clawback',
              '11': 'System token conversion', '12': 'Strategy transfer', '13': 'ddh', '14': 'Block trade', '22': 'Repay'}
    if x in myDict.keys():
        return myDict[x]
    else:
        return x

In [14]:
# Get 3 months worth of bills
def get_bills_details(account):
    bills = account.get_bills_details()
    df = pd.DataFrame([x.values() for x in bills['data']], columns = bills['data'][0].keys())
    df['ts'] = df['ts'].astype('int64').map(lambda x: pd.to_datetime(x, unit='ms'))
    df['type'] = df['type'].map(the_type)
    df['subType'] = df['subType'].map(sub_type)
    df = df[['ts', 'instId', 'ccy', 'instType', 'bal', 'balChg', 'mgnMode', 'type', 'subType', 'pnl', 'fee', 'execType', 'from', 'to', 'billId', 'ordId']]
    return df

In [69]:
# 5 first bills
bills = get_bills_details(account)
display(bills.head())
# 5 first ETH-USDT bills
bills[bills['instId']=='ETH-USDT-SWAP'].head()

,ts,instId,ccy,instType,bal,balChg,mgnMode,type,subType,pnl,fee,execType,from,to,billId,ordId
0,2022-08-23 15:09:48.228,BCH-USDT,USDT,SPOT,4450.0036437664157788,130.8889800000000000,cash,Trade,Buy,0,-0.13102,T,,,482325616826658817,482325616814075904
1,2022-08-23 15:09:48.228,BCH-USDT,BCH,SPOT,0.016530451,-1.000000000,cash,Trade,Sell,0,0,T,,,482325616826658816,482325616814075904
2,2022-08-23 15:09:31.863,BCH-USDT,USDT,SPOT,4319.1146637664157788,130.9788900000000000,cash,Trade,Buy,0,-0.13111,T,,,482325548186873862,482325548170096640
3,2022-08-23 15:09:31.863,BCH-USDT,BCH,SPOT,1.016530451,-1.000000000,cash,Trade,Sell,0,0,T,,,482325548186873860,482325548170096640
4,2022-08-23 15:09:04.448,BCH-USDT,USDT,SPOT,4188.1357737664157788,-130.9999200000000000,cash,Trade,Sell,0,0,T,,,482325433200029697,482325433183252480

,ts,instId,ccy,instType,bal,balChg,mgnMode,type,subType,pnl,fee,execType,from,to,billId,ordId
22,2022-08-19 06:34:11.150,ETH-USDT-SWAP,USDT,SWAP,4455.4683038894872074,0.0374400000000000,isolated,Liquidation,Liquidation long,-569.13,-2.59056,,,,480746305854255106,
23,2022-08-19 00:00:00.238,ETH-USDT-SWAP,USDT,SWAP,4455.4308638894872074,-0.1962224601949551,isolated,Funding fee,Funding fee expense,-0.1962224601949551,0,,,,480647106739449858,
24,2022-08-18 16:00:02.262,ETH-USDT-SWAP,USDT,SWAP,4455.6270863496821625,-0.0931632717291948,isolated,Funding fee,Funding fee expense,-0.0931632717291948,0,,,,480526319273521152,
25,2022-08-18 08:00:08.147,ETH-USDT-SWAP,USDT,SWAP,4455.7202496214113573,1.0680192422153645,isolated,Funding fee,Funding fee income,1.0680192422153645,0,,,,480405548001800196,
26,2022-08-18 00:00:00.723,ETH-USDT-SWAP,USDT,SWAP,4454.6522303791959928,-2.1770364912371090,isolated,Funding fee,Funding fee expense,-2.177036491237109,0,,,,480284720908087319,

#### 5. Account configuration

In [37]:
def get_account_config(account):
    config = account.get_account_config()
    df = pd.DataFrame([x.values() for x in config['data']], columns = config['data'][0].keys())
    return df

In [50]:
get_account_config(account)

,acctLv,autoLoan,ctIsoMode,greeksType,level,levelTmp,liquidationGear,mgnIsoMode,posMode,spotOffsetType,uid
0,2,False,automatic,PA,Lv1,,-1,automatic,net_mode,,340543497201456461

#### 6. Get leverage (effet de levier)

In [39]:
def get_leverage(account, instId, mgnMode='isolated'):
    lever = account.get_leverage(instId, mgnMode)
    df = pd.DataFrame([x.values() for x in lever['data']], columns = lever['data'][0].keys())
    return df

In [40]:
get_leverage(account, 'ETH-USDT-SWAP')

          instId lever   mgnMode posSide
0  ETH-USDT-SWAP    20  isolated    long
1  ETH-USDT-SWAP     3  isolated   short

#### 7. Set leverage

In [96]:
account.set_leverage(lever = 8, instId='ETH-USDT-SWAP', mgnMode = 'isolated', posSide='short')

{'code': '0',
 'data': [{'instId': 'ETH-USDT-SWAP',
   'lever': '8',
   'mgnMode': 'isolated',
   'posSide': 'short'}],
 'msg': ''}

#### 8. Set position mode (net or long_short_mode)

In [90]:
account.set_position_mode('long_short_mode')

{'code': '0', 'data': [{'posMode': 'long_short_mode'}], 'msg': ''}